<mat-toolbar class="app-navbar" color="primary">
  <div class="app-container">
    <div fxLayout="row" >
      <div fxFlex class="app-fx-left">
          <a routerLink="/" fxFlexAlign="center">Automatická klasifikace s využitím ToC dokumentů</a>
      </div>
      <div fxFlex class="app-fx-right">
        <a routerLink="help" routerLinkActive="app-active" title="Help">Help</a>
        <a routerLink="analyze" routerLinkActive="app-active" title="Analyze">Analyze</a>
        <a routerLink="blacklist" routerLinkActive="app-active" title="Blacklist">Blacklist</a>
      </div>
    </div>
  </div>
</mat-toolbar>