<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InitServlet</servlet-name>
        <servlet-class>cz.incad.ntk.toc_ntk.InitServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>cz.incad.ntk.toc_ntk.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MorphoDiTaServlet</servlet-name>
        <servlet-class>cz.incad.ntk.toc_ntk.morpho.MorphoDiTaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MorphoDiTaServlet</servlet-name>
        <url-pattern>/mdt</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>IndexerServlet</servlet-name>
        <servlet-class>cz.incad.ntk.toc_ntk.IndexerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CandidatesServlet</servlet-name>
        <servlet-class>cz.incad.ntk.toc_ntk.CandidatesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CandidatesServlet</servlet-name>
        <url-pattern>/candidates</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StaticServlet</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaticServlet</servlet-name>
        <url-pattern>/home</url-pattern>
        <url-pattern>/blacklist/*</url-pattern>
        <url-pattern>/analyze/*</url-pattern>
        <url-pattern>/sysno/*</url-pattern>
        <url-pattern>/help/*</url-pattern>
        <url-pattern>/admin/*</url-pattern>
        <url-pattern>/prihlaseni/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ForwardServlet</servlet-name>
        <servlet-class>cz.incad.ntk.toc_ntk.ForwardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForwardServlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexerServlet</servlet-name>
        <url-pattern>/indexer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConfigServlet</servlet-name>
        <servlet-class>cz.incad.ntk.toc_ntk.ConfigServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfigServlet</servlet-name>
        <url-pattern>/config/*</url-pattern>
        <url-pattern>/config</url-pattern>
        <url-pattern>/assets/config.json</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
