<div class="app-display-table app-container">
  <div class="app-table-cell app-left">
    <div fxLayout="row" fxFlexFill>
      <div fxFlex class="app-facets">
        <app-aside *ngIf="state.showAside"></app-aside>
      </div>
    </div>
  </div>
  <div class="app-table-cell app-right">
    <div fxLayout="row" >
      <div fxFlex class="app-fx-left">
        <div><strong>{{info.title}}</strong></div>
        <div>{{info.author}}</div>
      </div>
      <div  fxFlex class="app-fx-right app-right" style="text-align: right;">
        <!-- <button mat-button (click)="rescore()">rescore</button> -->
        <button mat-stroked-button (click)="viewToc()" title="View OCR text">View TOC</button>
        <button mat-stroked-button (click)="save()" title="Save state">Save</button>
        <button mat-stroked-button (click)="copy()" title="Copy select keywords to clipboard">Copy</button>
      </div>
    </div>
      <mat-card *ngIf="info">
        <div fxLayout="row" fxFlexFill >
          <div fxFlex class="app-fx-left">
            <div><strong>Themes in title</strong></div>
            <mat-list style="height: 150px; overflow-y: auto;">
              <mat-list-item *ngFor="let th of titleThemes;let i=index">
                <button mat-icon-button title="Add to selected keywords" (click)="addToSelected(th.label)" class="app-fx-right"><mat-icon>post_add</mat-icon></button>
                <mat-checkbox [checked]="th.selected" (change)="themeChange(th,$event)" [(ngModel)]="th.selected"
                  [name]="'tt'+i" [id]="'tt'+i">{{ th.label }}</mat-checkbox>
              </mat-list-item>
            </mat-list>
          </div>
          <div fxFlex class="app-fx-left">
            <div><strong>Themes found for author</strong></div>
            <mat-list style="height: 150px; overflow-y: auto;">
              <mat-list-item *ngFor="let th of authorThemes;let i=index">
                <button mat-icon-button title="Add to selected keywords" (click)="addToSelected(th.label)" class="app-fx-right"><mat-icon>post_add</mat-icon></button>
                <mat-checkbox [checked]="th.selected" (change)="themeChange(th,$event)" [(ngModel)]="th.selected"
                  [name]="'ta'+i" [id]="'ta'+i">{{ th.label }} ({{ th.count }})</mat-checkbox>
              </mat-list-item>
            </mat-list>
          </div>
          <div fxFlex class="app-fx-left">
            <div><strong>TOC themes</strong></div>
            <mat-list style="height: 150px; overflow-y: auto;">
              <mat-list-item *ngFor="let th of bodyThemes;let i=index">
                <button mat-icon-button title="Add to selected keywords" (click)="addToSelected(th.label)" class="app-fx-right"><mat-icon>post_add</mat-icon></button>
                <mat-checkbox [checked]="th.selected" (change)="themeChange(th,$event)" [(ngModel)]="th.selected"
                  [name]="'bt'+i" [id]="'bt'+i">{{ th.label }} ({{ th.count }})</mat-checkbox>
              </mat-list-item>
            </mat-list>
          </div>
          <div fxFlex class="app-fx-right" >
            <div><strong>Selected keywords</strong></div>
            <mat-list style="background-color: rgb(156, 178, 179); height: 150px; overflow-y: auto;">
              <mat-list-item *ngFor="let sel of selected;let i=index">
                <label>{{ sel }}</label>
                <button mat-icon-button title="Remove from selected keywords" (click)="removeFromSelected(i)"><mat-icon>delete</mat-icon></button>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </mat-card>
      <mat-card *ngFor="let c of candidates">
        <mat-icon style="float: right;" [title]="c.explain">info</mat-icon>
        <div>
          <button mat-icon-button title="Add to selected keywords" (click)="addToSelected(c.text)" class="app-fx-right"><mat-icon>post_add</mat-icon></button>
          <strong>{{c.text}}</strong> ({{c.path}})</div>
        <div>Found: {{c.count}} | Matched text: {{c.matchedText}} | Computed score: {{ c.score }} {{c.isInTitle ? ' | Found in title' : '' }}</div>
      </mat-card>
  </div>
</div>