<div class="row">
  <span class="col s12 m5"><i mz-icon-mdi mz-input-prefix
     [icon]="'folder'">
</i>{{state.foldername}}</span>
<button mz-button (click)="analyze()">analyze</button>
<button mz-button (click)="rescore()">rescore</button>
<button mz-button (click)="tocModal.open()">view toc</button>
<button mz-button (click)="export()">export</button>
</div>
<div class="row">
<form >
  <mz-input-container  [inline]="'true'">
    <input name="found" type="number" [(ngModel)]="scoreConfig.found" mz-input [label]="'Found'">
  </mz-input-container>
  <mz-input-container  [inline]="'true'">
    <input name="multiple" type="number" [(ngModel)]="scoreConfig.multiple" mz-input [label]="'Multiple'">
  </mz-input-container>
  <mz-input-container  [inline]="'true'">
    <input name="hasProperNoun" type="number" [(ngModel)]="scoreConfig.hasProperNoun" mz-input [label]="'Proper noun'">
  </mz-input-container>
  <br/>
  <mz-input-container  [inline]="'false'">
    <input name="matched" type="number" [(ngModel)]="scoreConfig.matched" mz-input [label]="'Matched'">
  </mz-input-container>
  <mz-input-container  [inline]="'true'" *ngFor="let d of scoreConfig.dicts">
    <input [id]="'dict_' + d" type="number" [name]="'dict_' + d" mz-input [label]="d" [(ngModel)]="scoreConfig.dictionaries[d]">
  </mz-input-container>
  <mz-input-container  [inline]="'true'">
    <input name="isDictionaryWord" type="number" [(ngModel)]="scoreConfig.isDictionaryWord" mz-input [label]="'isDictionaryWord'">
  </mz-input-container>
</form>
</div>
<div class="row">
  <mz-spinner *ngIf="loading"
    [color]="'blue'"
    [size]="'big'">
  </mz-spinner>
  <mz-card  *ngIf="!loading"
    [hoverable]="true">
    <mz-card-title>
      Candidates
    </mz-card-title>
    <mz-card-content>
      <table>
        <thead>
        <th></th>
        <th>score</th>
        <th>text</th>
        <th>type</th>
        <th>isMatched</th>
        <th>dictionaries</th>
        <th>hasProperNoun</th>
        <th>found</th>
        </thead>
        <tbody>
          <tr  *ngFor="let c of candidates; let idx = index">
            <td>
        <mz-checkbox-container>
              <input [id]="'ch_'+idx" type="checkbox" [(ngModel)]="c.selected" mz-checkbox >
        </mz-checkbox-container>
            </td>
            <td>{{c.score | number: '1.1-3'}}</td>
            <td>{{c.text}}</td>
            <td>{{c.type}}</td>
            <td>{{c.isMatched}}</td>
            <td><ul><li *ngFor="let d of c.dictionaries">{{d.text}} - {{d.name}}</li></ul></td>
            <td>{{c.hasProperNoun}}</td>
            <td>{{c.found}}</td>
          </tr>
        </tbody>
      </table>
  </mz-card-content>
</mz-card>
</div>

<mz-modal #tocModal [fixedFooter]="true" [options]="modalOptions" >
  <mz-modal-header>{{state.foldername}}</mz-modal-header>
  <mz-modal-content>
    <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea" style="height: 100vh;">{{toc_text}}</textarea>
        </div>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>close</button>
  </mz-modal-footer>
</mz-modal>