<section>
  <div class="row app-toolbar app-clean-mg">
    <div class="col s1 right-align">
      <label for="sysno">Sysno</label>
    </div>
    <div class="col s3">
      <input name="sysno" id="sysno" type="text" [(ngModel)]="state.sysno" (keyup.enter)="setSysno()"  />
    </div>
    <div class="col s8 right-align">
      <!--<button mz-button (click)="analyze()">analyze</button>-->
      <button mz-button (click)="rescore()">re-score</button>
      <button mz-button [disabled]="!hasToc" (click)="openToc()" >view toc</button>
      <button mz-button  (click)="showExport()">export</button>
    </div>
  </div><!--/.row app-toolbar -->
  
  <div class="app-sroll-wrapper" style="width: 100%;">
    <!-- Podminku na zobrazeni aplikuj na element s class "row" -->
    <div class="row" *ngIf="state.showScoreConfig">
      <div class="col s12">
        <form >
          <mz-input-container  [inline]="'true'">
            <input name="found" type="number" [(ngModel)]="state.scoreConfig.found" mz-input [label]="'Found'">
          </mz-input-container>
          <mz-input-container  [inline]="'true'">
            <input name="multiple" type="number" [(ngModel)]="state.scoreConfig.multiple" mz-input [label]="'Multiple'">
          </mz-input-container>
          <mz-input-container  [inline]="'true'">
            <input name="hasProperNoun" type="number" [(ngModel)]="state.scoreConfig.hasProperNoun" mz-input [label]="'Proper noun'">
          </mz-input-container>
          <br/>
          <mz-input-container  [inline]="'false'">
            <input name="matched" type="number" [(ngModel)]="state.scoreConfig.matched" mz-input [label]="'Matched'">
          </mz-input-container>
          <mz-input-container  [inline]="'true'" *ngFor="let d of state.scoreConfig.dicts">
            <input [id]="'dict_' + d" type="number" [name]="'dict_' + d" mz-input [label]="d" [(ngModel)]="state.scoreConfig.dictionaries[d]">
          </mz-input-container>
          <mz-input-container  [inline]="'true'">
            <input name="isDictionaryWord" type="number" [(ngModel)]="state.scoreConfig.isDictionaryWord" mz-input [label]="'isDictionaryWord'">
          </mz-input-container>
          <mz-input-container  [inline]="'true'">
            <input name="extent" type="number" [(ngModel)]="state.scoreConfig.extent" mz-input [label]="'Extent'">
          </mz-input-container>
          <mz-input-container  [inline]="'true'">
            <input name="inTitle" type="number" [(ngModel)]="state.scoreConfig.inTitle" mz-input [label]="'Term in title'">
          </mz-input-container>
        </form>
      </div><!--/.col -->
    </div><!--/.row -->
   
    
    <div class="row">
      <div class="col s12">
        <h5>{{title}}</h5>
        <!--<table *ngIf="!loading" class="striped highlight" id="app-table-score">-->
        <table class="striped highlight" id="app-table-score" *ngIf="!loading">
          <thead>
            <tr>
              <th><span>score</span></th>
              <th *ngFor="let d of state.scoreConfig.dicts"><span>{{d}}</span></th>
              <th><span>nerizene</span></th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let c of candidates; let idx = index">
              <tr *ngIf="(state.showMatched && c.isMatched) || (state.showFree && !c.isMatched) || (state.showBlacklisted && c.blacklisted) ">
                <!-- Dodrz prefix class, muze jich byt vice, tohle je jen priklad, barvy prahu se definuje ve variables -->
                <td [title]="formatInfo(c)"
                  [class.app-score-1]="c.score > maxScore * state.threshold" 
                >{{c.score | number: '1.1-3'}}</td>
                <td *ngFor="let d of state.scoreConfig.dicts">
                <ng-container *ngFor="let cd of c.dictionaries; let idx2 = index">
                  <mz-checkbox-container *ngIf="cd.name === d">
                    <input [id]="'ch_'+idx+'_'+d" type="checkbox" [(ngModel)]="cd.selected" mz-checkbox [label]="cd.text" />
                  </mz-checkbox-container>
                </ng-container>
                </td>
                <td>
                  <mz-checkbox-container *ngIf="!c.isMatched" >
                    <i class="app-mdi-cancel red-text" (click)="addToBlackList(c)" mz-tooltip [tooltip]="'Add to blacklist'"></i>
                    <input [id]="'ch_'+c.text" type="checkbox" [(ngModel)]="c.selected" mz-checkbox [label]="c.text" />
                  </mz-checkbox-container>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        
        <div class="app-spinner center-align">
          <mz-spinner *ngIf="loading" [size]="'small'"></mz-spinner>
        </div>
        <div *ngIf="error !== ''">
            
            <mz-card class="blue-grey darken-1"
                [hoverable]="true">
                <mz-card-content>
                  {{error}}
                </mz-card-content>
              </mz-card>
        </div>
      </div><!--/.col -->
    </div><!--/.row -->
  </div><!--/.app-sroll-wrapper -->
</section>  
  

<!-- Modals -->
<mz-modal #tocModal [fixedFooter]="true"  >
  <mz-modal-header>{{state.sysno}}: {{title}}</mz-modal-header>
  <mz-modal-content>
    <div class="input-field col s12">
      <textarea id="textarea1"  style="height: 40vh;">{{toc_text}}</textarea>
    </div>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>close</button>
  </mz-modal-footer>
</mz-modal>

<mz-modal #exportModal [fixedFooter]="true"  >
  <mz-modal-header>Exported candidates</mz-modal-header>
  <mz-modal-content>
    <div class="input-field col s12">
      <textarea id="exportArea" class="materialize-textarea" style="height: 100vh;" #exportArea>{{exported}}</textarea>
    </div>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>close</button>
  </mz-modal-footer>
</mz-modal>
<!-- end Modals -->
  
