<mz-input-container class="col s12">
  <i mz-icon-mdi mz-input-prefix
    [icon]="'folder'">
  </i>
  <input mz-input
    [(ngModel)]="foldername" (keyup.enter)="analyze()"
    [label]="'Folder'"
    id="foldername"
    placeholder="Enter folder name"
    type="text">
</mz-input-container>
<button mz-button (click)="analyze()">analyze</button>
<section>
<mz-spinner *ngIf="loading"
  [color]="'blue'"
  [size]="'big'">
</mz-spinner>
<mz-card
  [hoverable]="true">
  <mz-card-title>
    Candidates
  </mz-card-title>
  <mz-card-content>
    <mz-collection>
      <mz-collection-item *ngFor="let c of candidates">{{c}}</mz-collection-item>
    </mz-collection>
  </mz-card-content>
</mz-card>
  </section>