// --- MDI ---

.app-mdi-folder {@include set-mdi-icon(before, F24B, 24, middle);}
.app-mdi-file-plus {@include set-mdi-icon(before, F751, 20, middle);}
.app-mdi-check {@include set-mdi-icon(before, F12C, 20, middle);}
.app-mdi-settings {@include set-mdi-icon(before, F493, 20, middle);}