// --- ANALYZE ---

.app-analyze-wrapper {
  height: 100%;
  flex: 5;
  order: 2;
  position: relative;
  
  .app-btn-aside {
    @extend .app-cursor-pointer;
    position: absolute;
    left: 0;
    top: 0;
    height: $app-toolbar-height;
    color: $app-grey-d-4;
    background-color: $app-grey-l-2;
  }
  
  @import "app-toolbar";

  .app-sroll-wrapper {
    height: calc(100% - #{$app-toolbar-height});
    width: 100%;
    overflow: auto;
    padding-top: 2rem;

    .row {
      height: calc(100% - 2rem);
      
      .col {
        height: 100%;
        padding: 0 1rem;
        position: relative;
        
        & > div:not(.app-spinner) {
          height: calc(100% - 2rem);
        }

        .input-field {
          &.inline {
            margin-left: 0 !important;
            margin-right: 20px;
          }
        }

        .checkbox-field {
          display: inline-block;
          margin-right: 20px;
          margin-top: 0;
          
          .app-mdi-cancel {
            @extend .app-cursor-pointer;
            margin-right: 10px;
          }
        }

        .app-spinner {
          position: absolute;
          left: 0;
          width: 100%;
        }

        table {
          position: relative;

          &.highlight {
            > tbody {
              > tr:hover {
                background-color: color("grey", "lighten-2");
              }   
            } 
          }

          thead {
            border: none;

            tr {
              height: 100%;

              th {
                vertical-align: top;
                height:100%;
                z-index: 300;
                @extend .no-padding;

                span {
                  display: block;
                  padding: 20px 10px;
                  position: relative;
                  height: 100%;
                  @include set-border(bottom, 1, solid, #{color("grey", "lighten-1")});
                }
              }
            }
          }

          tbody {
            tr {
              @include set-border(bottom, 1, solid, $app-color-white);
              td {
                padding: 5px 10px;
                vertical-align: top;

                ul, p {
                  @extend .app-clean-mg;
                }

                &.app-score-1 {
                  background-color: $app-score-1;
                }
                &.app-score-2 {
                  background-color: $app-score-2;
                }
                &.app-score-3 {
                  background-color: $app-score-3;
                }
                &.app-score-4 {
                  background-color: $app-score-4;
                }
              } 
            }
          }
        }
      }
    }
  }
}